<!DOCTYPE html>
<html lang="en">

<%- include('../../Assets/components/Admin/head.ejs');  %>
    <%- include('../../Assets/components/Admin/links.ejs');  %>

        <body onload="disapleAll();">
            <div class="bodyStructure">
                <%- include('../../Assets/components/Admin/header.ejs');  %>

                    <div class="container">
                        <%- include('../../Assets/components/Admin/thembtn.ejs');  %>
                            <section id="contact" class="card">
                                <main>
                                    <h1 class="mb-5">Contact Informations</h1>
                                    <h3 class="mb-4">Address:
                                        <i class="fas fa-plus text-primary float-right" role="button" data-toggle="modal" data-target="#addAddress"></i>
                                    </h3>
                                    <% for (const address in contactInfo.addresses) {
                                    if (Object.hasOwnProperty.call(contactInfo.addresses, address)) {
                                        const element = contactInfo.addresses[address]; 
                                        if(element.state==1){  %>
                                        <h5> <i class="bi bi-geo-alt-fill"></i>
                                            <%= element.title%>
                                                <div class="float-right">

                                                    <i class="far fa-edit text-primary" role="button" data-toggle="modal" data-target="#editContact" onclick="linkEditContact('<%= element._id %>','<%= element.title %>','<%= element.state %>','address');"></i>
                                                    <i class="far fa-trash-alt text-danger" role="button" data-toggle="modal" data-target="#deleteContact" onclick="linkDeleteID('<%= element._id %>','address');"></i>
                                                </div>
                                        </h5>
                                        <% } } } %>
                                            <hr class="mb-5">
                                            <h3 class="mb-4">Phone:
                                                <i class="fas fa-plus text-primary float-right" role="button" data-toggle="modal" data-target="#addPhone"></i>
                                            </h3>
                                            <% for (const phone in contactInfo.phones) {
                                    if (Object.hasOwnProperty.call(contactInfo.phones, phone)) {
                                        const element = contactInfo.phones[phone]; 
                                        if(element.state==1){  %>

                                                <h5><i class="bi bi-telephone-inbound-fill"></i>
                                                    <%= element.title%>
                                                        <div class="float-right">
                                                            <i class="far fa-edit text-primary" role="button" data-toggle="modal" data-target="#editContact" onclick="linkEditContact('<%= element._id %>','<%= element.title %>','<%= element.state %>','phone');"></i>
                                                            <i class="far fa-trash-alt text-danger" role="button" data-toggle="modal" data-target="#deleteContact" onclick="linkDeleteID('<%= element._id %>','phone');"></i>
                                                </h5>

                                                <% } } } %>
                                                    <hr class="mb-5">
                                                    <h3 class="mb-4">Email:
                                                        <i class="fas fa-plus text-primary float-right" role="button" data-toggle="modal" data-target="#addEmail"></i>
                                                    </h3>
                                                    <% for (const email in contactInfo.emails) {
                                    if (Object.hasOwnProperty.call(contactInfo.emails, email)) {
                                        const element = contactInfo.emails[email]; 
                                        if(element.state==1){  %>
                                                        <h5>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                          </svg>
                                                            <%= element.title%>
                                                                <div class="float-right">
                                                                    <i class="far fa-edit text-primary" role="button" data-toggle="modal" data-target="#editContact" onclick="linkEditContact('<%= element._id %>','<%= element.title %>','<%= element.state %>','email');">
                                                                </i>
                                                                    <i class="far fa-trash-alt text-danger" role="button" data-toggle="modal" data-target="#deleteContact" onclick="linkDeleteID('<%= element._id %>','email');"></i>
                                                                </div>
                                                        </h5>
                                                        <% } } } %>
                                                            <hr class="mb-5">
                                                            <div class="position-relative mb-5">
                                                                <h3 class="mb-4"> Social Media</h3>
                                                                <div class="dropdown no-arrow mx-1 position-absolute" style="top:0px; right: 0px;">
                                                                    <a role="button" class="curr-text dropdown-toggle" id="optionsMenue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="fas fa-ellipsis-v" style="font-size: 1.5em;"></i></a>
                                                                    <ul class="dropdown-list dropdown-menu shadow animated--grow-in custom-margin" aria-labelledby="optionsMenue" style="right: 0;">
                                                                        <li class="p-2">
                                                                            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#addSocialMedia">
                                                                                <i class="fas fa-plus text-secondary"></i>
                                                                                <span class="d-inline-block"> Add</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="p-2">
                                                                            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#editSocialMedia">
                                                                                <i class="far fa-edit text-primary"></i>
                                                                                <span class="d-inline-block"> Edit</span>
                                                                            </a>
                                                                        </li>

                                                                        <li class="p-2">
                                                                            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#deleteContact" onclick="linkDeleteID('0','allSocialMedia');">
                                                                                <i class="far fa-trash-alt text-danger"></i>
                                                                                <span class="d-inline-block"> Delete</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <h5 class="socialMedia">
                                                                <% for (const sm in contactInfo.socialMedia) {
                                    if (Object.hasOwnProperty.call(contactInfo.socialMedia, sm)) {
                                        const element = contactInfo.socialMedia[sm]; 
                                        if(element.state==1){  %>
                                                                    <a href="<%= element.url %>" class="<%= element.icon %>">
                                                                    </a>
                                                                    <% } } } %>
                                                            </h5>
                                                            <hr class="mb-5">



                                </main>

                            </section>
                            </div>
                    </div>
                    <%- include('../../Assets/components/Admin/footer.ejs');  %>
                        <%- include('../../Assets/components/formModels/contact.ejs');  %>


                            <script>
                                function linkDeleteID(id, root) {
                                    $('#deleteContactID').val(id);
                                    $('#deleteContactForm').attr('action', '/dashboard/contact/' + root + '/delete');
                                    $('#contactTitle').text(root);
                                    console.log(id);
                                }


                                function linkEditContact(id, title, state, root) {
                                    $('#editContactID').val(id);
                                    $('#editContactTitle').val(title);
                                    $('#editContactState').val(state);
                                    $('#editContactForm').attr('action', '/dashboard/contact/' + root + '/edit');
                                    $('.contactTitleEdit').text(root);
                                    console.log(id, title, state);
                                }

                                function linkEditSocialMedia(id, url, icon, state) {
                                    $('#editSocialMediaID').val(id);
                                    $('#editSocialMediaUrl').val(url);
                                    $('#editSocialMediaIcon').val(icon);
                                    $('#editSocialMediaState').val(state);

                                    console.log(id, title, state);
                                }
                            </script>
        </body>


</html>