<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs');  %>

    <body onload="disapleAll();">
        <div class="bodyStructure">
            <%- include('./components/header.ejs');  %>

                <div class="container">
                    <%- include('./components/thembtn.ejs');  %>
                        <section id="home" class="card">
                            <main>
                                <div class="position-relative">
                                    <h1>Personal Info</h1>
                                    <div class="dropdown no-arrow mx-1 position-absolute" style="top:10px; right: 10px;">
                                        <a role="button" class="curr-text dropdown-toggle" id="optionsMenue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v" style="font-size: 1.5em;"></i></a>
                                        <ul class="dropdown-list dropdown-menu shadow animated--grow-in custom-margin" aria-labelledby="optionsMenue" style="right: 0;">
                                            <li class="p-2">
                                                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#editPersonalInfo">
                                                    <i class="far fa-edit text-primary"></i>
                                                    <span class="d-inline-block"> Edit</span>
                                                </a>
                                            </li>
                                            <li class="p-2">
                                                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#deleteModal">
                                                    <i class="far fa-trash-alt text-danger"></i>
                                                    <span class="d-inline-block"> Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <h3>Full Name:</h3>
                                <h5>
                                    <%= userInfo.fullName %>
                                        <!-- Emran Ali Abdullah Muhammed Saeed -->
                                </h5>
                                <hr>
                                <h3>Birth date:</h3>
                                <h5>
                                    <%= userInfo.DOB %>
                                        <!-- 6/6/1999 -->
                                </h5>
                                <hr>
                                <h3>Material Status:</h3>
                                <h5>
                                    <%= userInfo.material_Status %>
                                </h5>
                                <hr>
                            </main>

                            <aside class="box-with-action" onmouseenter="toggleBoxAction('box1')" onmouseleave="toggleBoxAction('box1')">
                                <form action="/deleteImage" method="post">
                                    <img src="/uploads/<%= userInfo.avater %>" alt="MyImage" id="myImage">
                                    <div class="box-action box-action-hide" id="box1" style="text-align: center;">
                                        <a class="dropdown-item" role="button" data-dismiss="modal" data-toggle="modal" data-target="#editImage">
                                            <i class="far fa-edit text-primary">
                                            </i>
                                            <input type="button" value="Edit" class="text-primary" style="background: transparent; border: 0;">
                                        </a>
                                        <a class="dropdown-item" role="button" data-toggle="modal" data-target="#deleteAvater">
                                            <i class="far fa-trash-alt text-danger">
                                                
                                            </i>
                                            <input type="button" value="Delete" class="text-danger" style="background: transparent; border: 0;">

                                        </a>
                                    </div>
                                </form>
                            </aside>


                        </section>
                        <div class="summary">
                            <h1>Summary</h1>
                            <p>
                                <%= userInfo.summary %>
                                    <!-- 
                                        Computer expert for everything, Excellent computer typing in English and Arabic, very good Photoshop designer, very good web designer in front-end and back-end, very good Android Application Designer. -->
                            </p>
                        </div>
                </div>
        </div>
        <%- include('./components/footer.ejs');  %>
            <%- include('./formModels/userInfo.ejs');  %>
                <%- include('./components/links.ejs');  %>
    </body>


</html>