<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs');  %>

    <body onload="disapleAll();">
        <div class="bodyStructure">
            <%- include('./components/header.ejs');  %>

                <div class="container">
                    <%- include('./components/thembtn.ejs');  %>

                        <section id="prevWorks" class="card">
                            <main>
                                <div class="position-relative">
                                    <h1>My PrevWorks</h1>
                                    <div class="dropdown no-arrow mx-1 position-absolute" style="top:10px; right: 10px;">
                                        <a role="button" class="curr-text dropdown-toggle" id="optionsMenue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v" style="font-size: 1.5em;"></i></a>
                                        <ul class="dropdown-list dropdown-menu shadow animated--grow-in custom-margin" aria-labelledby="optionsMenue" style="right: 0;">
                                            <li class="p-2">
                                                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#addPrevWork">
                                                    <i class="fas fa-plus text-secondary"></i>
                                                    <span class="d-inline-block"> Add</span>
                                                </a>
                                            </li>
                                            <li class="p-2">
                                                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#deleteModal">
                                                    <i class="far fa-trash-alt text-danger"></i>
                                                    <span class="d-inline-block"> Delete</span>
                                                </a>
                                            </li>
                                            <li class="p-2">
                                                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#showTrashedPrevWorks">
                                                    <i class="fa fa-solid fa-trash-can-undo text-primary"></i>
                                                    <span class="d-inline-block"> Trash</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="wrapper">

                                    <div class="container">
                                        <div class="row">
                                            <div class="">
                                                <div class="fresh-table table w-100">
                                                    <table id="fresh-table" class="table" style="color: var(--current-text-color);">
                                                        <thead>
                                                            <th>Image</th>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Live Demo</th>
                                                            <th>State</th>
                                                            <th>Actions</th>
                                                        </thead>

                                                        <tbody>
                                                            <% for(const prevWork in prevWorks)
                                                        if (Object.hasOwnProperty.call(prevWorks, prevWork)) { %>
                                                                <tr>
                                                                    <td>
                                                                        <img style="width: 50px; height: 50px;" src="/uploads/prevWorks/<%= prevWorks[prevWork].image %>" alt="">
                                                                    </td>
                                                                    <td>
                                                                        <%= prevWorks[prevWork].title %>
                                                                    </td>
                                                                    <td>
                                                                        <%= prevWorks[prevWork].description %>
                                                                    </td>
                                                                    <td>
                                                                        <a href="<%= prevWorks[prevWork].liveDemo %>">
                                                                            <%= prevWorks[prevWork].liveDemo %>
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <% if(prevWorks[prevWork].state==1) { %>
                                                                            <i class="fa fa-solid fa-eye"></i>
                                                                            <%} else { %>
                                                                                <i class="fa fa-solid fa-eye-slash"></i>
                                                                                <% } %>

                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            <i class="far fa-edit text-primary" role="button" data-toggle="modal" data-target="#editPrevWork" onclick="linkEditPrevWork('<%= prevWorks[prevWork]._id %>',
                                                                            '<%= prevWorks[prevWork].title %>',
                                                                            '<%= prevWorks[prevWork].description %>',
                                                                            '<%= prevWorks[prevWork].liveDemo %>');"></i>
                                                                            <i class="far fa-trash-alt text-danger" role="button" data-toggle="modal" data-target="#deletePrevWork" onclick="linkDeleteID('<%= prevWorks[prevWork]._id; %>');"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </main>

                        </section>
                </div>
        </div>
        <%- include('./components/footer.ejs');  %>
            <%- include('./formModels/prevWorks.ejs');  %>
                <%- include('./components/links.ejs');  %>
                    <script>
                        function linkDeleteID(id) {
                            document.getElementById('deletePrevWorkID').value = id;
                            console.log(id);
                        }

                        function linkTrashID(id) {
                            document.getElementById('undoPrevWorkID').value = id;
                            console.log(id);
                        }


                        function linkEditPrevWork(id, name, description, liveDemo) {
                            document.getElementById('editPrevWorkID').value = id;
                            document.getElementById('editPrevWorkName').value = name;
                            document.getElementById('editPrevWorkDescription').value = description;
                            document.getElementById('editLiveDemo').value = liveDemo;
                            console.log(id, name, precentage);
                        }
                    </script>
    </body>


</html>