<!-- Add New Experience Module  -->
<div class="modal fade show" id="addExperience" onsubmit="$('#addExperience').modal('hide'); $('#doneExperience').modal('show');" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content p-3">
            <form method="post" action="/dashboard/experiences/add" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Add New Experience</h4>
                    <a href="#" data-dismiss="modal">
                        <i class="far fa-window-close text-danger" style="font-size: 2em;"></i>
                    </a>
                </div>
                <div class="modal-body">

                    <!-- Form Group (Experience Name)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="title">Experience Name </label>
                        <input name="title" class="form-control" id="title" type="text" placeholder="Enter your experience name" required>
                    </div>

                    <!-- Form Group (Experience Precentage)-->
                    <div class="mb-5">
                        <label class="small mb-1" for="precentage">Experience Precentage </label>
                        <div style="position: relative;">

                            <input name="precentage" class="form-control" id="precentage" type="range" value="1" max="100" min="1" step="1" required>
                            <span class="small" style="position: absolute; left: 0; bottom: -25px;">
                                1%</span>
                            <span class="small" style="position: absolute; right: 0; bottom: -25px;">
                                100%</span>
                        </div>
                    </div>

                    <!-- Form Group (Experience State)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="state">Experience State </label>
                        <select class="form-control" name="state" id="state" required>
                            <option value="1" selected>Visible</option>
                            <option value="0">Hidden</option>
                        </select>
                    </div>

                    <!-- Save changes button-->

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn curr-bg curr-text">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Experience Module  -->
<div class="modal fade show" id="editExperience" onsubmit="$('#editExperience').modal('hide'); $('#doneExperience').modal('show');" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content p-3">
            <form method="post" action="/dashboard/experiences/edit" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Edit Experience</h4>
                    <a href="#" data-dismiss="modal">
                        <i class="far fa-window-close text-danger" style="font-size: 2em;"></i>
                    </a>
                    <input type="hidden" id="editExperienceID" name="_id" value="" id="editExperienceID">
                </div>
                <div class="modal-body">

                    <!-- Form Group (Experience Name)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="title">Experience Name </label>
                        <input name="title" class="form-control" id="editExperienceName" type="text" placeholder="Enter your experience name" value="" required>
                    </div>

                    <!-- Form Group (Experience Precentage)-->
                    <div class="mb-5">
                        <label class="small mb-1" for="precentage">Experience Precentage </label>
                        <div style="position: relative;">

                            <input name="precentage" class="form-control" id="editExperiencePrecentage" type="range" value="" max="100" min="1" step="1" required>
                            <span class="small" style="position: absolute; left: 0; bottom: -25px;">
                                1%</span>
                            <span class="small" style="position: absolute; right: 0; bottom: -25px;">
                                100%</span>
                        </div>
                    </div>

                    <!-- Form Group (Experience State)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="state">Experience State </label>
                        <select class="form-control" name="state" id="state" required>
                            <option value="1" selected>Visible</option>
                            <option value="0">Hidden</option>
                        </select>
                    </div>

                    <!-- Save changes button-->

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn curr-bg curr-text">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete experience Module -->

<div id="deleteExperience" onsubmit="$('#deleteExperience').modal('hide'); $('#doneExperience').modal('show');" class="modal fade deleteModal">
    <form action="/dashboard/experiences/delete" method="post">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this Experience ? This process cannot be undone.</p>
                </div>
                <input type="hidden" name="_id" value="" id="deleteExperienceID">
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Delete All Experiences Module -->

<div id="deleteAllExperiences" onsubmit="$('#deleteAllExperiences').modal('hide'); $('#doneExperience').modal('show');" class="modal fade deleteModal">
    <form action="/dashboard/experiences/delete_all" method="post">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete All Experiences ? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Show Experiences Trash Module  -->
<div class="modal fade show" id="showTrashedExperiences" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content p-3">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Experiences Recycle bin</h4>
                    <a href="#" data-dismiss="modal">
                        <i class="far fa-window-close text-danger" style="font-size: 2em;"></i>
                    </a>
                </div>
                <div class="modal-body">

                    <ul>
                        <% for(const trash in Trash)
                    if (Object.hasOwnProperty.call(Trash, trash)) {
                    %>
                            <li class="d-flex flex-row gap-3">
                                <div style="flex: 1;">
                                    <h4 class="small font-weight-bold curr-text">
                                        <%= Trash[trash].title; %> <span class="float-right"><%= Trash[trash].precentage; %>%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar curr-bg" role="progressbar" style="width:<%= Trash[trash].precentage; %>%;" aria-valuenow="
                                            <%= Trash[trash].precentage; %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div>
                                    <i class="far fa-trash-alt text-outline-primary" role="button" data-toggle="modal" data-target="#restoreExperience" onclick="linkTrashID('<%= Trash[trash]._id; %>');"> Restore</i>

                                </div>


                            </li>
                            <% } %>
                    </ul>
                    <!-- Save changes button-->

                </div>
            </form>
        </div>
    </div>
</div>


<!-- Restire experience Module -->

<div id="restoreExperience" onsubmit="$('#restoreExperience').modal('hide'); $('#doneExperience').modal('show');" class="modal fade deleteModal">
    <form action="/dashboard/experiences/undo" method="post">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <h4 class="modal-title w-100">Restore Selected Experience </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to Restore this Experience ? </p>
                </div>
                <input type="hidden" name="_id" value="" id="undoExperienceID">
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Restore</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Done Modal -->
<div id="doneExperience" class="modal fade DoneModal">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="fas fa-check-circle"></i>
                </div>
                <h4 class="modal-title w-100">Operation Done</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">The Operation on Experience Completed </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" onclick="window.location.href='/dashboard/experiences';">OK</button>
            </div>
        </div>
    </div>
</div>